/*Reset*/
/*Reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
    border: 0;
    
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background:#FFDD33;
	line-height: 1;
    color: black;
    
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
    }
    
    * { 
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    

    nav { 
        height: 14vh; 
        background-color: #BCFB9D;
        width: 100%;
        display: flex;
    }
    
    .nav-links { 
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        font-weight: bold;
    
    }
    
    .nav-links a { 
        text-decoration: none;
        color: black;
    }
    
    .nav-links a:hover { 
        color:white;
    }
    
    #active-link { 
        color:white;
    }
    
    #home-icon { 
        height:14vh;
        filter:drop-shadow(5px 4px 5px black);
        
    }
    

/*Styles for the main*/
.main{
    background-image: url(https://images.unsplash.com/photo-1570441262582-a2d4b9a916a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 500px;
    margin-left:1%;
    margin-top: 2%;
}

h1{
    font-size: 4rem;
    /* color:#94884f; */
    margin-top: 7%;
    margin-bottom: 10%;
}
.main p{
    font-size: 2rem;
    margin-top: 10%;
    margin-bottom: 2%;
}
/* Styles for info section */
.info{
    background-image: url(https://previews.123rf.com/images/anastasia6699/anastasia66991803/anastasia6699180300055/97178868-seamless-repeat-pattern-with-trailer-with-food-bus-on-white-background-vector-illustration-modern-an.jpg);
    background-position: center;
    text-align: center;
    height: 300px;
    font-size: 2rem;
    margin-top: 5%;

}
.info h2{
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: 800;
}
/* Styles for gallery */
.gallery{
    text-align: center;
    font-size: 2rem;
    margin-top: 2%;
    
}
.gallery h2{
    margin-bottom: 3%;
}
.pic img{
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 200px;
}



.footer { 
    height: 150px;
    margin-top: 50px;
    background-color: #FFDD33;
    color:white;
    font-size:20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px  #000000;
}

.contact-icons { 
    margin: 20px 0 20px 0;
}








/* Mobile Nav */ 

@media screen and (max-width: 768px) { 

    
    .line { 
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;

    }
    
    nav { 
        position: relative;
    }

    .mobile-menu { 
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform:  translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-links { 
        position: fixed;
        background: #BCFB9D;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1.1s ease-out;
        pointer-events: none;
    }

    .nav-links.open { 
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
}
